@model IEnumerable<EPassport.Models.AppointmentDetail>

@{
    ViewData["Title"] = "All Appointment Schedules";
}

<h1>All Available Appointment Schedules now: </h1>

<p>
    <a asp-action="Create">Add new Appointment Schedule</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MonthName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlots)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Applicant)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MonthName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSlots)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Applicant.District)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.MonthId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MonthId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MonthId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
