@model IEnumerable<EPassport.Models.ApplicationDetail>

@{
    ViewData["Title"] = "User Information";
}

<h4>All Users Information are here: </h4>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantId)
            </th>
            <th>
                Personal Details
            </th>
            <th>
                Address Details
            </th>
            <th>
                Family Details
            </th>
            <th>
                Reference Details
            </th>
            <th>
                Documents Details
            </th>
            <th>
                Update Passport Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportStatus)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationalQualification)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.PassportStatus)
            </th>*@
@*            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantId)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ApplicantId">Click Here</a>
            </td>
            <td>
                <a asp-controller="UserAddressDetails" asp-action="Details" asp-route-id="@item.ApplicantId">Click Here</a>
            </td>
            <td>
                <a asp-controller="UserFamilyDetails" asp-action="Details" asp-route-id="@item.ApplicantId">Click Here</a>
            </td>
            <td>
                <a asp-controller="UserReferenceDetails" asp-action="Details" asp-route-id="@item.ApplicantId">Click Here</a>
            </td>
            <td>
                <a asp-controller="SupportingDocuments" asp-action="Details" asp-route-id="@item.ApplicantId">Click Here</a>
            </td>
            <td>
                <a asp-action="Update">Click Here</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportStatus)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationalQualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportStatus)
            </td>*@
@*            <td>
                @Html.DisplayFor(modelItem => item.Login.LoginId)
            </td>*@
@*            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplicantId">Edit</a> |
                <a asp-controller="UserReferenceDetails" asp-action="index" asp-route-id="@item.ApplicantId">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ApplicantId">Delete</a>
            </td>*@
        </tr>
    }
    </tbody>
</table>
