@model IEnumerable<EPassport.Models.ApplicationDetail>

@{
    ViewData["Title"] = "User Information";
}

<h4>All Users Information are here: </h4>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationalQualification)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.PassportStatus)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationalQualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportStatus)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Login.LoginId)
            </td>*@
            <td>
 @*               <a asp-action="Edit" asp-route-id="@item.ApplicantId">Edit</a> |*@
                  <a asp-action="Details" asp-route-id="@item.ApplicantId">Details</a>
@*                <a asp-action="Delete" asp-route-id="@item.ApplicantId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
